
    *{
    margin: 0;
    padding: 0;
}
li{
   float: left;
  
}
li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}
li > a :hover{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    height: 50px;
}
.footer >p{
    color: white;
    font-size: 12px;
    font-family:  Arial, sans-serif;
}
.container{
    text-align: center;
    background-color: white;
}
h2{
    color: #333;
    font-family:  Arial, sans-serif;
    font-size: 30px;
}
button{
   width: 80px;
   height: 40px;
   border-radius: 5px;
   cursor: pointer;
   background-color: #333;
   color: white;
}

textarea{
 width: 20%;
height: 150px;
resize: none;
 }

 input{
margin-bottom: 8px;
border: none;
border-bottom: 1px solid rgb(19, 15, 15);          
 }

input[type=text]{
color: black;
}
#idOpcao{
    cursor: pointer;
    color: #333;
}
